#section_administrateur{
  text-align: center;
  margin-top: 150px;
}
.administrateurs{
    margin-top: 40px;
    width: 60%;
    margin: auto;
    h1{
        font-size: 30px;
    }
    .messages_administrateur{
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0px 0px 12px 2px rgb(15 15 15 / 20%);
        border-radius: 8px;
        padding: 0;
        a{
            font-size: 20px;
            text-decoration: none;
            color:black;
            font-weight: bold;
          }
          .element_messages_administrateur{
            &:first-child{
              margin-top: 20px;
              text-align: left;
            }
            &:nth-child(2){
              text-align: left;
              margin-left:auto ;
              font-weight: bold;
              
            }
            &:nth-child(3){
              font-size : 34px;
              margin-top: 10px;
              margin-bottom:20px ;
            }
            &:nth-child(4){
              margin-bottom: 27px;
              font-size : 18px;
            }
            &:nth-child(5){
              margin-bottom:20px ;
            }
            &:first-child ,&:nth-child(2){
              margin-left: 10% ;
            }
            &:nth-child(3), &:nth-child(4) ,&:nth-child(5){
              width: 70%;
              margin-left:auto ;
              margin-right:auto ;
            }
        }
        
    }
}